.verde-principal {
    color: #6CAE75;
}

.verde-claro {
    color: #A4D9A0;
}

.verde-oscuro {
    color: #417B4E;
}

.marron-principal {
    color: #8B5A2B;
}

.marron-claro {
    color: #B78756;
}

.marron-oscuro {
    color: #613D1F;
}

.azul-principal {
    color: #5DA4D9;
}

.azul-claro {
    color: #8EC2E5;
}

.azul-oscuro {
    color: #3B7AA4;
}

.amarillo {
    color: #FFD700;
}

.naranja {
    color: #FFA500;
}

.blanco-puro {
    color: #FFFFFF;
}

.beige {
    color: #F5F5DC;
}

.crema {
    color: #FFF8DC;
}
