@import url('https://fonts.googleapis.com/css2?family=Ink+Free&display=swap');
/* Este es un comentario en CSS */

.nav-link:hover {
    color: #6CAE75 !important;
    /* Cambia el color al pasar el mouse */
}

.nav-link {
    color: #417B4E;
    /* Color del enlace */
    font-size: 18px;
    /* Tamaño de la fuente */
    font-weight: bold;
    /* Grosor de la fuente */
}

.nav-link:focus {
    color: #6CAE75 !important;
    /* Amarillo */
}

.reseñas-scroll {
    max-height: 200px;
    /* Ajusta la altura según tus necesidades */
    overflow-y: auto;
    padding-right: 15px;
    /* Añade un poco de espacio para el scroll */
}



/* Clases para cambiar el color de fondo de "Iniciar sesión" */
.hover-iniciosesion:hover {
    background-color: #ffffff !important;
    /* Blanco al pasar el mouse */
    transition: color 0.5s ease-in-out !important;
    /* Transición suave del color */
}

.hover-iniciosesion {
    background-color: #008000 !;
    /* Verde por defecto */
    transition: color 0.5s ease-in-out;
    /* Transición suave del color */
}


/* Clases para cambiar el color de "Pedidos" */
.hover-PedidosSun:hover {
    color: #008000;
    /* Verde al pasar el mouse */
    transition: color 0.5s ease-in-out;
    /* Transición suave del color */
}

.hover-PedidosSun {
    color: #3B7AA4;
    /* Azul por defecto */
    font-weight: 700;
    /* Grosor de la fuente */
    transition: color 0.5s ease-in-out;
    /* Transición suave del color */
}

.hover-PedidosSun:focus {
    color: #3B7AA4;
    /* Verde al pasar el mouse */
}

/* Clases para cambiar el color de "Pedidos" */
.hover-FincaM:hover {
    color: #6CAE75;
    /* Verde al pasar el mouse */
    transition: color 0.5s ease-in-out;
    /* Transición suave del color */
}

.hover-FincaM {
    color: #417B4E;
    /* Azul por defecto */
    font-weight: 700;
    /* Grosor de la fuente */
    transition: color 0.5s ease-in-out;
    /* Transición suave del color */
}

.hover-FincaM:focus {
    color: #6CAE75;
    /* Verde al pasar el mouse */
}

/* Clases para cambiar botones del carrusel forma y color */
.carousel .carousel-indicators button {
    background-color: #f5de0d;
    /* Color de los botones del carrusel */
    width: 15px;
    /* Ancho del botón */
    height: 15px;
    /* Alto del botón */
    border-radius: 100%;
    /* Borde redondeado para hacer los botones circulares */
}

/* Clases para cambiar el tamaño de los iconos de control del carrusel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 50px;
    /* Altura del icono */
    width: 50px;
    /* Ancho del icono */
    outline: rgb(190, 22, 22);
    /* Color del contorno del icono */
    background-size: 100%, 100%;
    /* Tamaño de la imagen de fondo del icono */
    border-radius: 100%;
    /* Borde redondeado para hacer los iconos circulares */
    background-image: none !important;
    /* Elimina la imagen de fondo predeterminada */

}

/* Clase para cambiar el icono de control siguiente del carrusel */
.carousel-control-next-icon:after {
    content: '>';
    /* Carácter que se muestra como icono */
    font-size: 70px;
    /* Tamaño del icono */
    color: rgb(0, 0, 0);
    /* Color del icono (negro) */
}

/* Clase para cambiar el icono de control anterior del carrusel */
.carousel-control-prev-icon:after {
    content: '<';
    /* Carácter que se muestra como icono */
    font-size: 70px;
    /* Tamaño del icono */
    color: rgb(0, 0, 0);
    /* Color del icono (negro) */
}

.btnInicio {
    /* Cambia el color de fondo del botón a #613D1F */
    background-color: #008000 !important;
    /* Cambia el color del borde del botón a #613D1F */
    border-color: #008000 !important;
    border-radius: 0% !important;

}

/* Esta regla se aplica a cualquier elemento con la clase .btn cuando se pasa el mouse sobre él (hover) */
.btnInicio:hover {
    /* Cambia el color de fondo del botón a blanco */
    background-color: white !important;
    /* Mantiene el color del borde del botón en #613D1F */
    border-color: #008000 !important;
    /* Cambia el color del texto del botón a #613D1F */
    color: #008000 !important;
    /* Hace que el texto del botón sea negrita */
    font-weight: bold !important;
}

/* Esta regla se aplica a cualquier botón cuando está activo (es decir, cuando se presiona) */
.btnInicio:active {
    /* Cambia el color de fondo del botón a café (#613D1F) */
    background-color: #008000 !important;
    /* Cambia el color del borde del botón a #e66f0d */
    border-color: #008000 !important;
    /* Cambia el color del texto del botón a blanco */
    color: white !important;
    /* Hace que el texto del botón sea negrita */
    font-weight: bold;
}

.btnver:active {
    border: none !important;
}

#togglePassword {
    border: none !important;
    background-color: transparent !important;
    top: 51% !important;
    right: 459px !important;
}

.OlvideMclave {
    color: #000000 !important;
    font-weight: bold;
    font-size: 75%;
}

.VerClave {
    width: 25px;
    height: 25px;
}



.btnregistrarme {
    /* Cambia el color de fondo del botón a #613D1F */
    background-color: #008000 !important;
    /* Cambia el color del borde del botón a #613D1F */
    border-color: #008000 !important;
    border-radius: 0% !important;
    padding: 9px;


}


/* Esta regla se aplica a cualquier elemento con la clase .btn cuando se pasa el mouse sobre él (hover) */
.btnregistrarme:hover {
    /* Cambia el color de fondo del botón a blanco */
    background-color: white !important;
    /* Mantiene el color del borde del botón en #613D1F */
    border-color: #008000 !important;
    /* Cambia el color del texto del botón a #613D1F */
    color: #008000 !important;
    /* Hace que el texto del botón sea negrita */
    font-weight: bold !important;
}

/* Esta regla se aplica a cualquier botón cuando está activo (es decir, cuando se presiona) */
.btnregistrarme:active {
    /* Cambia el color de fondo del botón a café (#613D1F) */
    background-color: #008000 !important;
    /* Cambia el color del borde del botón a #e66f0d */
    border-color: #008000 !important;
    /* Cambia el color del texto del botón a blanco */
    color: white !important;
    /* Hace que el texto del botón sea negrita */
    font-weight: bold;
}


#exampleModalLabel {
    color: #008000 !important;
    font-weight: bold;
    font-size: 75%;
    margin-left: 35%;

}

.btnregistrarme {
    font-weight: bold;
    font-size: 75%;
    margin-left: 35%;

}

.productos {
    padding-top: 20px;
    /*Agrega a productos un espaciado superior*/
}

.ColorA {
    text-decoration: none !important;
}

.titulos {
    text-decoration: underline;
    /* Agrega un subrayado a los títulos */
    font-size: 40px;
}

/* Esta regla se aplica a cualquier elemento con la clase .btn-ver-mas */
.btn-ver-mas {
    /* Aumenta el margen superior del botón */
    margin-top: 50px !important;
    /* Cambia el tipo de visualización del elemento a bloque. Los elementos de bloque ocupan todo el ancho disponible y siempre comienzan en una nueva línea en el documento. */
    display: block;
    /* Establece los márgenes del elemento. El valor 0 se aplica a los márgenes superior e inferior del elemento, y auto se aplica a los márgenes izquierdo y derecho. Cuando los márgenes izquierdo y derecho se establecen en auto, el navegador automáticamente calcula y asigna un margen igual a ambos lados, centrando así el elemento horizontalmente en su contenedor. */
    margin: 0 auto;
}


/* Esta regla se aplica a cualquier elemento con la clase .card */
.Mproducto {
    /* La propiedad transition se utiliza para cambiar las propiedades de un elemento de manera suave durante un período de tiempo especificado. En este caso, se aplica a la propiedad transform y dura 0.5 segundos. */
    transition: transform.5s;
}

.Mproducto:hover {
    /* La propiedad transform se utiliza para aplicar transformaciones 2D o 3D a un elemento. En este caso, se utiliza la función scale para aumentar el tamaño del elemento a 1.1 veces su tamaño original. */
    transform: scale(1.1);
}

/* Estilo para pantallas con un ancho máximo de 600px (típicamente móviles) */
@media screen and (max-width: 600px) {
    .img-huevos {
        width: 70% !important;
        /* Ajusta este valor según tus necesidades */
        height: auto !important;
        /* Ajusta este valor según tus necesidades */
        margin-left: 10%;
        margin-bottom: 5%;
    }
}


.card-title {
    font-size: 20px;
    /* Tamaño de la fuente */
}

/* Esta regla se aplica a cualquier elemento con la clase .card cuando se pasa el mouse sobre él (hover) */


.col a {
    text-decoration: none !important;
}

/* Esta regla se aplica a cualquier elemento con la clase .btn */
.btnProductos {
    /* Cambia el color de fondo del botón a #613D1F */
    background-color: #613D1F;
    /* Cambia el color del borde del botón a #613D1F */
    border-color: #613D1F;

}

/* Esta regla se aplica a cualquier elemento con la clase .btn cuando se pasa el mouse sobre él (hover) */
.btnProductos:hover {
    /* Cambia el color de fondo del botón a blanco */
    background-color: white;
    /* Mantiene el color del borde del botón en #613D1F */
    border-color: #613D1F;
    /* Cambia el color del texto del botón a #613D1F */
    color: #613D1F;
    /* Hace que el texto del botón sea negrita */
    font-weight: bold;
}

/* Esta regla se aplica a cualquier botón cuando está activo (es decir, cuando se presiona) */
.btnProductos:active {
    /* Cambia el color de fondo del botón a café (#613D1F) */
    background-color: #613D1F !important;
    /* Cambia el color del borde del botón a #e66f0d */
    border-color: #613D1F !important;
    /* Cambia el color del texto del botón a blanco */
    color: white !important;
    /* Hace que el texto del botón sea negrita */
    font-weight: bold;
}

.Nosotros {
    text-align: center;
    /*Se centra el texto*/

}

.NosotrosText {
    padding-top: 20px;
    /*Agrega a productos un espaciado superior*/
    font-size: 20px;
    /* Ajusta este valor a tus necesidades */
    text-align: center;
    /*Se centra el texto*/

}

.btnnosotros {
    /* Cambia el color de fondo del botón a #613D1F */
    background-color: #0eb33f;
    /* Cambia el color del borde del botón a #613D1F */
    border-color: #0eb33f;

}

/* Esta regla se aplica a cualquier elemento con la clase .btn cuando se pasa el mouse sobre él (hover) */
.btnnosotros:hover {
    /* Cambia el color de fondo del botón a blanco */
    background-color: white;
    /* Mantiene el color del borde del botón en #613D1F */
    border-color: #0eb33f;
    /* Cambia el color del texto del botón a #613D1F */
    color: #0eb33f;
    /* Hace que el texto del botón sea negrita */
    font-weight: bold;
}

/* Esta regla se aplica a cualquier botón cuando está activo (es decir, cuando se presiona) */
.btnnosotros:active {
    /* Cambia el color de fondo del botón a café (#613D1F) */
    background-color: #0eb33f !important;
    /* Cambia el color del borde del botón a #e66f0d */
    border-color: #0eb33f !important;
    /* Cambia el color del texto del botón a blanco */
    color: white !important;
    /* Hace que el texto del botón sea negrita */
    font-weight: bold;
}

.timg {
    height: 374px;
    border-radius: 0% !important;
}

.Nosotros .card {
    border: none;
    border-radius: 0% !important;
}

.PiePagFinca {
    font-size: 190%;
    padding: 10%;
    text-align: center;
    font-family: 'Ink Free', cursive;
    text-align: start;

}

@media screen and (max-width: 935px) {
    .PiePagFinca {
        font-size: 170%;
        padding: 8%;
        text-align: center;
        font-family: 'Ink Free', cursive;
        text-align: start;

    }
}

@media screen and (max-width: 830px) {
    .PiePagFinca {
        font-size: 150%;
        padding: 8%;
        text-align: center;
        font-family: 'Ink Free', cursive;
        text-align: start;

    }

    .info {
        color: #ffffff;
        text-decoration: none;
        margin-left: 0% !important;
        /* Mueve el enlace un poco a la derecha */

    }
}

@media screen and (max-width: 750px) {
    .PiePagFinca {
        padding: 8%;
        text-align: center;
        font-family: 'Ink Free', cursive;
        text-align: start;
        font-size: 120%;

    }

    .info {
        color: #ffffff;
        text-decoration: none;
        margin-left: 0% !important;
        /* Mueve el enlace un poco a la derecha */

    }
}

@media screen and (max-width: 690px) {
    .PiePagFinca {
        padding: 8%;
        text-align: center;
        font-family: 'Ink Free', cursive;
        text-align: start;
        font-size: 100%;

    }

    .info {
        color: #ffffff;
        text-decoration: none;
        margin-left: 0% !important;
        /* Mueve el enlace un poco a la derecha */

    }
}

@media screen and (max-width: 600px) {
    .PiePagFinca {
        font-size: 110%;
        padding: 8%;
        text-align: center;
        font-family: 'Ink Free', cursive;
        text-align: start;

    }
}



@media screen and (max-width: 575px) {
    .PiePagFinca {
        font-size: 220%;
        padding: 8%;
        text-align: center;
        font-family: 'Ink Free', cursive;
        text-align: start;

    }

    .Fcafe2 {
        background-color: #613D1F;
        color: #ffffff;
        border: none;
        padding-bottom: 0% !important;

    }

    .info {
        color: #ffffff;
        text-decoration: none;
        margin-left: 20% !important;
        /* Mueve el enlace un poco a la derecha */

    }
}

@media screen and (max-width: 350px) {
    .PiePagFinca {
        font-size: 170%;
        padding: 8%;
        text-align: center;
        font-family: 'Ink Free', cursive;
        text-align: start;

    }
}

.Fcafe {
    background-color: #613D1F;
    color: #ffffff;
    border: none;
    border-radius: 0% !important;
}


.info {
    color: #ffffff;
    text-decoration: none;
    font-size: 100%;


}

.iconoInfo {
    width: 20px;
    text-decoration: none;
    color: #ffffff;
}

.card-container {
    background-color: #613D1F;
    /* Este es un color café común */
}

.textNosotros {
    padding-top: 10%;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20%;
    padding-bottom: 5%;
}

.NosotrosPag {
    font-size: 260%;
    margin-top: 5%;

}

.cardNosostros {
    margin-top: 20%;
}

.EspacioCardNosotros {
    margin-top: 6%;

}

.EspacioCardNosotros2 {
    margin-bottom: 4%;
    font-weight: bold;
    font-size: 120%;
}

.productoscol {
    margin-bottom: 10%;
}

.modal-image {
    max-width: 300px;
    height: auto;
}

#Agregar {
    background-color: #008000 !important;
    border-color: #008000 !important;
    margin-bottom: 3%;
    font-weight: bold;
    font-size: 75%;
}

#Agregar:hover {
    background-color: #ffffff !important;
    border-color: #008000 !important;
    color: #008000;
    margin-bottom: 3%;
    font-weight: bold;
    font-size: 75%;
}

.loginbot {
    height: 80vh;
}

.containermap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Ajusta esto según tus necesidades */
    width: 100%;
    /* Asegúrate de que el contenedor ocupe todo el ancho disponible */
}

.map-container {
    position: relative;
    width: 80%;
    /* Ajusta esto para cambiar el tamaño del mapa */
    height: 80%;
    /* Ajusta esto para cambiar el tamaño del mapa */
    overflow: hidden;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.H1Contacto {
    text-align: center;
    color: #4CAF50;
    /* Cambia esto al color que prefieras */
    font-size: 2.5em;
    /* Cambia esto al tamaño que prefieras */
    padding: 20px 0;
    /* Añade un poco de espacio arriba y abajo del título */
}

.card-centered {

    margin-left: 40%;
}

.my-image {
    width: 100% !important;
    height: 70% !important;
}

.card-container2 {
    background-color: #0e6d2b;
}

.card-container3 {
    background-color: #ffffff !important;
}

.dropdown-item:active {
    color: green !important;
    background-color: transparent !important;
}

.dropdown-item.verde-oscuro {
    color: #008000 !important;
}

.dropdown-item:hover {
    color: green !important;
}

/*style register*/

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 100px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    /* Añadimos un espacio entre los elementos */
    margin-bottom: 15px;
}

.form-group {
    flex: 1 1 100%;
    /* Hace que cada campo ocupe el 100% del ancho por defecto */
    min-width: 200px;
}

@media (min-width: 600px) {
    .form-group {
        flex: 1 1 calc(50% - 15px);
        /* Cada campo ocupa el 50% del ancho menos el espacio entre ellos en pantallas más grandes */
    }
}

.form-group label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    padding: 10px 20px;
    background-color: #008000;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.messages {
    list-style-type: none;
    padding: 0;
}

.messages li {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
}

.messages .error {
    background-color: #f8d7da;
    color: #721c24;
}

.messages .success {
    background-color: #d4edda;
    color: #155724;
}

/*style reseña*/

.resena-contenedor {
    padding-left: 0;
    margin-left: 0;
}

.card-title {
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 5px;
    /* Ajusta el margen inferior si es necesario */
    text-align: left;
    /* Asegura que el texto esté alineado a la izquierda */
}

.card-text {
    margin-left: 0;
    padding-left: 0;
}

/* Estilos para mensajes */
.messages .error {
    background-color: #f8d7da;
    color: #721c24;
}

.messages .success {
    background-color: #d4edda;
    color: #155724;
}

/* Estilos para reseñas */
.reseñas-scroll {
    max-height: 200px;
    overflow-y: auto;
    padding-right: 15px;
}

.resena-card {
    width: 100%;
    margin-bottom: 10px;
}

.card-body {
    position: relative;
    padding-right: 50px;
    /* Espacio para el botón de eliminar */
}

.resena-contenedor {
    padding-left: 0;
    margin-left: 0;
}

.card-title {
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 5px;
    /* Ajusta el margen inferior si es necesario */
    text-align: left;
    /* Asegura que el texto esté alineado a la izquierda */
}

.card-text {
    margin-left: 0;
    padding-left: 0;
    word-wrap: break-word;
    /* Permite que el texto se ajuste al ancho del contenedor */
}

.delete-button-form {
    position: absolute;
    top: 10px;
    right: 10px;
}

.btn-danger {
    background-color: transparent;
    /* Fondo transparente */
    color: #dc3545;
    /* Texto rojo */
}

.btn-danger:hover {
    background-color: #dc3545;
    /* Fondo rojo al pasar el ratón */
    color: white;
    /* Texto blanco al pasar el ratón */
}

/*Style CrearProductos*/

.container2 {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    background-color: #f9f9f9;
    border: 2px solid #a3d5a5;
    /* Borde verdoso */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 15px;
}

.form-group {
    flex: 1 1 100%;
    min-width: 200px;
}

@media (min-width: 600px) {
    .form-group {
        flex: 1 1 calc(50% - 15px);
    }
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #3d7d3e;
    /* Color verdoso para el texto */
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #a3d5a5;
    /* Borde verdoso en los inputs */
    border-radius: 4px;
    background-color: #e9f7ec;
    /* Fondo verdoso claro */
}

.form-control:focus {
    border-color: #6fbf73;
    /* Borde más intenso al hacer foco */
    outline: none;
    box-shadow: 0 0 5px rgba(111, 191, 115, 0.5);
    /* Sombra al hacer foco */
}

.btn {
    padding: 10px 20px;
    background-color: #6fbf73;
    /* Color verdoso para el botón */
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #5aa25d;
    /* Color verdoso más oscuro al pasar el cursor */
}

.messages {
    list-style-type: none;
    padding: 0;
    margin-bottom: 15px;
}

.messages li {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
}

.messages .error {
    background-color: #f8d7da;
    color: #721c24;
}

.messages .success {
    background-color: #d4edda;
    color: #155724;
}

/*Style CrearCategoria*/
.container2 {
    max-width: 600px;
    /* Reduce el ancho máximo del contenedor */
    margin: 0 auto;
    padding: 40px;
    background-color: #f9f9f9;
    border: 2px solid #a3d5a5;
    /* Borde verdoso */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #3d7d3e;
    /* Color verdoso para el texto */
}

.form-control {
    width: 100%;
    max-width: 400px;
    /* Limita el ancho de los inputs a 400px */
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #a3d5a5;
    /* Borde verdoso en los inputs */
    border-radius: 4px;
    background-color: #e9f7ec;
    /* Fondo verdoso claro */
}

.form-control:focus {
    border-color: #6fbf73;
    /* Borde más intenso al hacer foco */
    outline: none;
    box-shadow: 0 0 5px rgba(111, 191, 115, 0.5);
    /* Sombra al hacer foco */
}

.btn {
    padding: 10px 20px;
    background-color: #6fbf73;
    /* Color verdoso para el botón */
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #5aa25d;
    /* Color verdoso más oscuro al pasar el cursor */
}

.messages {
    list-style-type: none;
    padding: 0;
    margin-bottom: 15px;
}

.messages li {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
}

.messages .error {
    background-color: #f8d7da;
    color: #721c24;
}

.messages .success {
    background-color: #d4edda;
    color: #155724;
}

/*Style AdminUsuarios*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    /* Espacio inferior para separar de la tabla */
}

.header h1 {
    margin: 0;
}

.btn-primary {
    background-color: #4CAF50 !important;
    /* Verde suave para el botón */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #45a049;
    /* Verde más oscuro al pasar el cursor */
}

/* Estilos para la tabla */
.table-container {
    margin-top: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f9f9f9;
    border: 1px solid #a3d5a5;
    /* Borde verdoso claro */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table thead {
    background-color: #e9f7ec;
    /* Fondo verdoso claro para el encabezado */
}

.table th {
    color: #3d7d3e;
    /* Texto verdoso oscuro para el encabezado */
    padding: 10px;
    text-align: left;
}

.table td, .table th {
    border-bottom: 1px solid #a3d5a5;
    /* Borde verdoso en las celdas */
    padding: 10px;
}

.table tr:hover {
    background-color: #d4edda;
    /* Color verde suave al pasar el cursor */
}

.table-link {
    color: #3d7d3e;
    /* Color verdoso para los enlaces en la tabla */
    text-decoration: none;
}

.table-link:hover {
    text-decoration: underline;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
}

.table thead th {
    background-color: #eaf0e9;
    /* Color de fondo suave verde claro */
    color: #2d6a4f;
    /* Color de texto verde oscuro */
    border-bottom: 2px solid #c1d3b7;
    /* Línea de separación sutil */
    padding: 1rem;
}

.table tbody tr:nth-child(even) {
    background-color: #f9f9f6;
    /* Color de fila alterna suave */
}

.table tbody tr:nth-child(odd) {
    background-color: #ffffff;
    /* Color de fila impar */
}

.table td, .table th {
    padding: 0.75rem;
    vertical-align: top;
    border: 1px solid #dee2e6;
    /* Borde suave */
}

.table tbody td {
    color: #2d6a4f;
    /* Color de texto verde oscuro */
}

.table tbody td img {
    border-radius: 4px;
    /* Bordes redondeados para imágenes */
}

.btn-primary {
    background-color: #4a773c;
    /* Color de fondo verde oscuro */
    border-color: #3c6e3c;
    /* Color del borde verde más oscuro */
}

.btn-primary:hover {
    background-color: #3c6e3c;
    /* Color de fondo al pasar el ratón */
    border-color: #2b4a2b;
    /* Color del borde al pasar el ratón */
}

/*Style CategoriasAdmin*/
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
}

.table thead th {
    background-color: #eaf0e9;
    /* Color de fondo suave verde claro */
    color: #2d6a4f;
    /* Color de texto verde oscuro */
    border-bottom: 2px solid #c1d3b7;
    /* Línea de separación sutil */
    padding: 1rem;
}

.table tbody tr:nth-child(even) {
    background-color: #f9f9f6;
    /* Color de fila alterna suave */
}

.table tbody tr:nth-child(odd) {
    background-color: #ffffff;
    /* Color de fila impar */
}

.table td, .table th {
    padding: 0.75rem;
    vertical-align: top;
    border: 1px solid #dee2e6;
    /* Borde suave */
}

.table tbody td {
    color: #2d6a4f;
    /* Color de texto verde oscuro */
}

.btn-primary {
    background-color: #4a773c !important;
    /* Color de fondo verde oscuro */
    border-color: #3c6e3c !important;
    /* Color del borde verde más oscuro */
}

.btn-primary:hover {
    background-color: #3c6e3c;
    /* Color de fondo al pasar el ratón */
    border-color: #2b4a2b;
    /* Color del borde al pasar el ratón */
}

/*Style ProductoDetalles*/

body {
    background-color: #e8f5e9;
}

.form-container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #eaf4e4;
    border: 1px solid #b3d9b3;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 128, 0, 0.1);
    /* Sombra verde tenue */
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 15px;
}

.form-row label {
    flex: 1;
    margin-right: 10px;
}

.form-row input, .form-row select {
    flex: 2;
}

.form-row img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.form-buttons input {
    flex: 1;
}

/* Clase para el botón desactivado (outline) */
.btn-outline-danger {
    color: #dc3545;
    border: 1px solid #dc3545;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
}

.btn-outline-danger:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

/* Clase para el botón activado (filled) */
.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    transition: background-color 0.3s, color 0.3s;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}


/*Estilo CuponesDetalles********************/
body {
    background-color: #e8f5e9;
    font-family: Arial, sans-serif;
}

.cupon-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 1rem auto;
    margin-top: -5rem;
    /* Empuja el contenedor hacia arriba */
    max-width: 500px;
    padding: 2rem;
}


.cupon-form {
    display: flex;
    flex-direction: column;
}

.cupon-input-group {
    margin-bottom: 1.5rem;
}

.cupon-label {
    color: #2e7d32;
    display: block;
    margin-bottom: 0.5rem;
}

.cupon-input {
    border: 1px solid #81c784;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
}

.cupon-checkbox-group {
    align-items: center;
    display: flex;
}

.cupon-checkbox-group .cupon-label {
    margin-bottom: 0;
    margin-right: 1rem;
}

.cupon-checkbox {
    height: 1.25rem;
    width: 1.25rem;
}

.cupon-button {
    background-color: #4caf50;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 200px;
}

.cupon-button:hover {
    background-color: #45a049;
}

.cupon-messages {
    background-color: #c8e6c9;
    border-left: 5px solid #4caf50;
    list-style-type: none;
    margin-bottom: 1rem;
    padding: 1rem;
}

.cupon-messages li {
    color: #1b5e20;
}

.cupon-actions {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}


/********************ESTILO AdminCupones*/
.coupon-container {
    background-color: #e8f5e9;
    padding: 20px;
    border-radius: 8px;
}

.coupon-title {
    color: #2e7d32;
    margin-bottom: 20px;
}

.btn-create-coupon {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    float: right;
    margin-bottom: 20px;
}

.coupon-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

.coupon-table th, .coupon-table td {
    border: 1px solid #c8e6c9;
    padding: 12px;
    text-align: left;
}

.coupon-table th {
    background-color: #a5d6a7;
    color: #1b5e20;
}

.status-active {
    color: #4caf50;
    font-weight: bold;
}

.status-inactive {
    color: #f44336;
    font-weight: bold;
}

.btn-delete-coupon {
    background-color: #ef5350;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 3px;
}













