{% extends "Administrador.html" %}
{% load static %}

{% block Administrador %}
    <div>
        <h1>Usuarios</h1>
        <a href="{% url 'crear_usuario' %}" class="btn btn-primary float-right">Crear Usuario</a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Telefono</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                    <tr>
                        <th scope="row"><a href="{% url 'usuario_detalles' usuario.id_usuario_usu %}">{{ usuario.id_usuario_usu }}</a></th>
                        <td>{{ usuario.nombre_usu }}</td>
                        <td>{{ usuario.apellido_usu }}</td>
                        <td>{{ usuario.correo_usu }}</td>
                        <td>{{ usuario.telefono_usu }}</td>
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>


{% endblock Administrador %}