{% extends "Administrador.html" %}
{% load static %}

{% block Administrador %}
    <div>
        <h1>Productos</h1>
        <a href="{% url 'crearproducto' %}" class="btn btn-primary float-right">Crear Categoria</a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID Producto</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Existencias</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Estados</th>
                    <th scope="col">Foto</th>
                </tr>
            </thead>
            <tbody>
                {% for productos in productos %}
                    <tr>
                        <th scope="row"><a href="{% url 'producto_detalles' productos.id_producto_pro %}">{{ productos.id_producto_pro }}</th>
                        <td>{{ productos.nombre_pro }}</td>
                        <td>{{ productos.descripcion_pro }}</td>
                        <td>{{ productos.existencia_pro }}</td>
                        <td>{{ productos.precio_pro }}</td>
                        <td>{{ productos.categoria_pro_id }}</td>
                        <td>{{ productos.estado }}</td>
                        <td><img src='/Media/productos/{{productos.foto }}' style="width: 200px; height: auto;" /></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>


{% endblock Administrador %}