{% extends "Administrador.html" %}
{% load static %}

{% block Administrador %}
    <div>
        <h1>Categorias</h1>
        <a href="{% url 'crearcategoria' %}" class="btn btn-primary float-right">Crear Categoria</a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID Categoria</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripcion</th>
                </tr>
            </thead>
            <tbody>
                {% for categoria in categorias %}
                    <tr>
                        
                        <th scope="row"><a href="{% url 'categoria_detalles' categoria.ID_CATEGORIA_CAT %}">{{ categoria.ID_CATEGORIA_CAT }}</th>
                        <td>{{ categoria.NOMBRE_CAT }}</td>
                        <td>{{ categoria.DESCRIPCION_CAT }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>


{% endblock Administrador %}