{% extends "Administrador.html" %}
{% load static %}

{% block Administrador %}
    
<form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
       
        <label for="nombre_pro">Nombre del Producto:</label><br>
        <input type="text" id="nombre_pro" name="nombre_pro" value="{{ producto.nombre_pro }}"><br>
        <label for="descripcion_pro">Descripción:</label><br>
        <input type="text" id="descripcion_pro" name="descripcion_pro" value="{{ producto.descripcion_pro }}"><br>
        <label for="precio_pro">Precio:</label><br>
        <input type="text" id="precio_pro" name="precio_pro" value="{{ producto.precio_pro }}"><br>
        <label for="stock_pro">Stock:</label><br>
        <input type="text" id="stock_pro" name="stock_pro" value="{{ producto.stock_pro }}"><br>
        <label for="categoria_pro">Categoría:</label><br>
        <select id="categoria_pro" name="categoria_pro">
            {% for categoria in categorias %}
            <option value="{{ categoria.id_categoria_cat }}">{{ categoria.nombre_cat }}</option>
            {% endfor %}
        </select><br>
        <label for="foto_pro">Foto:</label><br>
        <input type="file" id="foto_pro" name="foto_pro"><br>
        <label for="estado_pro">Estado:</label><br>
        <input type="checkbox" id="estado_pro" name="estado_pro" {% if usuario.is_staff %}checked{% endif %}><br>
        <br>
        <input type="submit" name="action" value="Crear Producto">
    </form>

{% endblock Administrador %}