{% extends "Principal.html" %}
{% load static %}
{% block Titulo %}Inicio{% endblock Titulo %}


{% block Boddy %}

<!-- Slider -->
<div class="carousel slide" id="carouselinicio" data-bs-ride="carousel" data-bs-wrap="true">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src='{% static "IMG/Campo_1_16x50.jpg" %}' class="d-block w-100" alt="..." width="1600" height="400" />
        </div>
        <div class="carousel-item active">
            <img src='{% static "IMG/Campo_2_16x50.jpg" %}' class="d-block w-100" alt="..." width="1600" height="400" />
        </div>

        <div class="carousel-item active">
            <img src='{% static "IMG/Campo_3_16x50.png" %}' class="d-block w-100" alt="..." width="1600" height="400" />
        </div>
    </div>

    <button class="carousel-control-prev botones" type="button" data-bs-target="#carouselinicio" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next botones" type="button" data-bs-target="#carouselinicio" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>

    <div class="carousel-indicators">
        <button type="button" class="active" data-bs-target="#carouselinicio" data-bs-slide-to="0"></button>
        <button type="button" data-bs-target="#carouselinicio" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#carouselinicio" data-bs-slide-to="2"></button>
    </div>
</div>
<!-- Seccion Productos -->
<div>
    <div class="container productos">
        <a href="{% url 'productos' %}" class="titulos marron-principal">Linea De Productos</a>
        <p class="text-center marron-principal">
            Productos frescos y de calidad, <br />
            directamente desde la finca a tu hogar. <br />
        </p>
        <!-- Productos -->
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-6 productos">
            <div class="col">
                <a href="{% url 'productos' %}">
                    <div class="card shadow-sm Mproducto img-huevos">
                        <img src='{% static "IMG/Huevos_Producto.jpg" %}' />
                        <div class="card-body">
                            <h5 class="card-title">Huevos</h5>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="{% url 'productos' %}">
                    <div class="card shadow-sm Mproducto img-huevos">
                        <img src='{% static "IMG/Fertilizante.jpg" %}' />
                        <div class="card-body">
                            <h5 class="card-title">Fertilizantes</h5>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="{% url 'productos' %}">
                    <div class="card shadow-sm Mproducto img-huevos">
                        <img src='{% static "IMG/Semillas.jpg" %}' />
                        <div class="card-body">
                            <h5 class="card-title">Semillas</h5>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="{% url 'productos' %}">
                    <div class="card shadow-sm Mproducto img-huevos">
                        <img src='{% static "IMG/FrutasYVerduras.jpg" %}' />
                        <div class="card-body">
                            <h5 class="card-title">Frutas y Verduras</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <a href="{% url 'productos' %}" class="ColorA">
            <button class="btn btn-primary btn-ver-mas btnProductos">
                Ver más productos
            </button>
        </a>

    </div>
</div>
<!-- Seccion Quienes Somos -->
<div class="d-flex justify-content-center Nosotros">
    <div class="mb-3" style="max-width: 90%">
        <div class="row">
            <div class="col col-lg-6">
                <img src='{% static "IMG/Finca.jpg" %}' class="img-fluid rounded-circle w-100" alt="..." />
            </div>
            <div class="col-md-5">
                <div class="card-body">
                    <a href="{% url 'nosotros' %}">
                        <h5 class="card-title titulos verde-principal">Quienes Somos</h5>
                    </a>

                    <p class="card-text NosotrosText">
                        En Finca La Marquesa, somos una finca agrícola ubicada en Santo
                        Domingo, Antioquia, comprometida con la producción de alimentos
                        frescos y de alta calidad. <br />

                        Con más de tres generaciones de experiencia, valoramos la
                        sostenibilidad y la responsabilidad ambiental en nuestras prácticas
                        agrícolas. <br />
                        Nuestro equipo de agricultores apasionados se esfuerza por
                        garantizar la frescura y calidad de nuestros productos. <br />

                        Construimos relaciones cercanas con nuestros clientes y nos
                        enorgullece ser parte de su vida diaria.
                        <br /><br />
                        ¡Gracias por ser parte de la historia de Finca La Marquesa!
                    </p>
                    <div class="d-flex justify-content-center">
                        <a href="{% url 'nosotros' %}"><button class="btn btnnosotros btn-primary btn-conocer-mas">
                            M&aacute;s Sobre Nosotros
                        </button></a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Seccion Banner Imagenes -->
<div class="card-group Nosotros">
    <div class="card card-sinbordes">
        <img src='{% static "IMG/img1.jpg" %}' class="card-img-top timg" alt="..." />
    </div>
    <div class="card">
        <img src='{% static "IMG/img1.png" %}' class="card-img-top w-100 timg" alt="..." />
    </div>
    <div class="card">
        <img src='{% static "IMG/img2.jpg" %}' class="card-img-top timg" alt="..." />
    </div>
</div>
{% endblock %}